$fa-font-path : '../node_modules/font-awesome/fonts';

//fonts
$fontFamily:'Oxygen';
//colors
$colorSelection:#ff9900;
$colorCoorporative:#6c474c;
$colorDark:#3e282c;
$colorLight:#fff5e6;
$colorBackground-elements:gray;
//settings
$border-radius-inputs:2px;